.subscript {
    margin-top: -20px;
}

.container {
    background: #f4f4f4;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}